@{
    ViewData["Title"] = "CPBL中華職棒首頁";
}

<div class="container-fluid  p-0">
    <img src="\images\CPBLHomeBanner.jpg" alt="Description of the image" class="img-fluid w-100 " style="height: 100vh; object-fit: cover;" />
</div>
